{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    {#  J'ai mis un input caché pour me protegé d'une attaque CSRF #}
      {{ form_start(registrationForm) }}
      <input type="hidden" name="admin-user-id" value="mon personnage prefere est sonic"> 
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(registrationForm) }} 
 
 
  
</form>


   
{% endblock %}


