{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

  <div class="card text-bg-secondary mb-3">
  <img src="{{ article.image }}" class="card-img-top img-responsive" height="auto" max-width="100%" display="block" alt="image">
  <div class="card-body">
    <h5 class="card-title">{{ article.titre }}</h5>
    <p class="card-text">{{ article.contenu }}</p>  
  </div>
</div>

  {% if app.user %}
  
    <div>

    </div>
    <div>
    {% endif %}
      {% if app.user %}
    <p>Commentaire:</p>
    {% for commentaire in commentaires %}
        <div>{{app.user.userIdentifier}} a dit :</div>
        <div>{{commentaire.contenu}}</div>
    
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}
  
  
  
    
        
       
        
    
   
    
    
    

   
